body {
	font-family: "Helvetica Neue", "Helvetica", Arial, Helvetica, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	padding-top: 60px;
}


h2, h1, #head {
	padding-left: 20px;
	padding-right: 20px;
}

#head {
	font-weight: bold;
	font-size: 50px;
	top: 30px;
	position: absolute;
}

#input {
	height: 28px;
	margin-bottom: 10px;
	font: bold 26px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
}

#button {
	visibility: hidden;
}

form {
	padding-top: 60px;
}

h1 a {
	color: black;
	margin-top: 200px;
}

h2 {
	color: silver;
}

h2 a {
	color: silver;
}

h2 a:hover {
	color: black;
}

h3 {
	padding-right: 10%;
	text-align: right;
}

h3 a {
	color: black;
}

h3 a:hover {
	color: black;
}

h4 a {
	padding-left: 5%;
	color: silver;
}

h4 a:hover {
	color: black;
}